<div class="container">
  <app-header></app-header>
  <app-loading-spinner *ngIf="showLoading | async"></app-loading-spinner>
  <div class="row">
    <div class="col-md-12 text-center">
      <!-- <app-counter></app-counter> -->
      <router-outlet></router-outlet>
      <div *ngIf="errorMessage | async as error">
        {{ error }}
      </div>
    </div>
  </div>
</div>
<div *ngIf="false" class="wrapper">

  <button routerLink="" >Home</button>
  <button routerLink="public-page" >Public Page</button>
  <button routerLink="restricted-page" >Restricted Page</button>
  <button *ngIf="!isLoggedIn()" (click)="onLogin()">Sign In</button>
  <button *ngIf="isLoggedIn()" (click)="logout()">Sign Out</button>
  <p *ngIf="!isLoggedIn()">You are not logged in</p>
  <p *ngIf="isLoggedIn()">You are now logged in</p>

  <router-outlet></router-outlet>

</div>