<p>posts-list works!</p>
<p> Total Posts: {{count | async}} </p>
<button routerLink="add">Add Post</button>
<table border="1" *ngIf="posts | async as postsList">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of postsList">
            <td> {{post.id}} </td>
            <td> {{post.title}} </td>
            <td> {{post.description}} </td>
            <td> 
                <button [routerLink]="['edit', post.id]" >Update</button> |
                <button (click)="onDeletePost(post.id)" >Delete</button> |
                <button [routerLink]="['details', post.id]" >Details</button> 
            </td>
        </tr>
    </tbody>
</table>

<div>
    <router-outlet></router-outlet>
</div>